[package]
name = "three-d-asset"
version = "0.1.0"
authors = ["Asger Nyman Christiansen <asgernyman@gmail.com>"]
edition = "2021"
description = "Load/save functionality for 3d applications."
license = "MIT"
readme = "README.md"
repository = "https://github.com/asny/three-d-asset"
categories = ["graphics", "rendering", "visualization", "webassembly"]
keywords = ["3d", "gamedev", "graphics", "wasm"]
exclude = ["/test_data", ".gitignore"]

[lib]
crate-type = ["cdylib", "rlib"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["png", "jpeg"]

http = ["reqwest"]

png = ["image/png"]
jpeg = ["image/jpeg"]
hdr = ["image/hdr"]
tiff = ["image/tiff"]
tga = ["image/tga"]
gif = ["image/gif"]
bmp = ["image/bmp"]

obj = ["wavefront_obj"]

vol = []

[dependencies]
cgmath = "0.18"
half = {version="1.8", features=["std", "num-traits", "zerocopy"]}
thiserror = "1.0"
reqwest = {version = "0.11", optional = true }
gltf = { version = "1.0", optional = true }
wavefront_obj = { version = "10.0", optional = true }
image = { version = "0.23", optional = true, default-features = false}

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "0.3", features = ['Document', 'Window'] }